.ProductsPerPage{
    font-size: inherit;
    color: var(--dark-font-color);
    margin-right: .38rem;
    margin-bottom: .35rem;
    width: 20%;
    text-align: center;
    padding-left: .4rem;
    padding-right: .1rem;    
}

/* Media queries */
@media screen and (max-width: 399px){
  .ProductsPerPage{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    margin: 0 0 5% 0;
    padding: 0;
    width: 60%;
  }
}

@media screen and (min-width: 400px) and (max-width: 440px){
  .ProductsPerPage{
    font-size: .625rem;
  }
}

@media screen and (min-width: 600px){
  .ProductsPerPage{
      margin-right: .66rem;
  }       
}
  
@media screen and (min-width: 800px){
  .ProductsPerPage{
      margin-right: .94rem;
  } 
}

@media screen and (min-width: 1000px){
  .ProductsPerPage{
      margin-right: 1.22rem;
  }  
}

@media screen and (min-width: 1200px){
  .ProductsPerPage{
      margin-right: 1.5rem;
  }     
}