.ProductCard{
    position: relative;
    background-color: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    padding: 0.375rem;
    box-shadow: .8px .9px 3px grey;
    transition:  box-shadow .3s ease-out;
}

.ProductCard__Icon, .ProductCard__PointsNeeded{
    position: absolute;
    top: 5%;
    right: 5%;
}

.ProductCard__Icon{
    width: 1.31rem;
    height: auto;
}

.ProductCard__Coin{
    width: 0.69rem;
    height: auto;
}

.ProductCard__PointsNeeded{
    background: rgb(97, 97, 97, .8);
    mix-blend-mode: normal;
    border-radius: 100px;
    color: var(--light-font-color);
    padding: .25rem .38rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.375rem;
    font-size: 0.62rem;
}

.ProductCard:hover{
    box-shadow: 1px 8px 20px grey;
    transition:  box-shadow .3s ease-in;
}

.ProductCard.RedeemableProduct:hover::after{
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
    background: linear-gradient(180deg, rgba(10, 212, 250, 0.86) 0%, rgba(37, 187, 241, 0.86) 100%);
}

.ProductCard.RedeemableProduct:hover .ProductCard__Icon{
    z-index: 1;
}

.ProductCard__Image{    
    width: 100%;
    border-radius: 3px;
    height: auto;
}

.ProductCard__Info{
    border-top: 1px solid rgba(217, 217, 217, .4);
    margin: 0 8.7% 0 8.7%;
    padding: 0.375rem;
}

.ProductCard__Name{
    color: var(--dark-font-color);
    font-size: 0.75rem;
    font-weight: 400;
}

.ProductCard__Category{
    color: var(--medium-font-color);
    font-size: 0.625rem;
}

/* Media Queries */
@media screen and (min-width: 480px){
    .ProductCard{
        padding: 0.45rem;    
    } 

    .ProductCard__Icon{
        width: 1.58rem;
    }

    .ProductCard__PointsNeeded{
        font-size: 0.67rem;
        padding: .35rem .5rem;
    }

    .ProductCard__Coin{
        width: 0.8rem;
    }

    .ProductCard__Name{
        color: var(--dark-font-color);
        font-size: 0.825rem;
    }
    
    .ProductCard__Category{
        color: var(--medium-font-color);
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 600px){
    .ProductCard{
        padding: 0.53rem;    
    }
    
    .ProductCard__Icon{
        width: 1.84rem;
    }

    .ProductCard__PointsNeeded{
        font-size: 0.72rem;
        padding: .45rem .62rem;
    }

    .ProductCard__Coin{
        width: 0.91rem;
    }

    .ProductCard__Name{
        color: var(--dark-font-color);
        font-size: 0.9rem;
    }
    
    .ProductCard__Category{
        color: var(--medium-font-color);
        font-size: 0.775rem;
    }
}

@media screen and (min-width: 800px){
    .ProductCard{
        padding: 0.61rem;    
    }
    
    .ProductCard__Icon{
        width: 2.10rem;
    }

    .ProductCard__PointsNeeded{
        font-size: 0.77rem;
        padding: .55rem .74rem;
    }

    .ProductCard__Coin{
        width: 1.02rem;
    }

    .ProductCard__Info{
        border-top: 1px solid rgba(217, 217, 217, .5);
    }

    .ProductCard__Name{
        color: var(--dark-font-color);
        font-size: 0.975rem;
    }
    
    .ProductCard__Category{
        color: var(--medium-font-color);
        font-size: 0.85rem;
    }
}

@media screen and (min-width: 1000px){
    .ProductCard{
        padding: 0.69rem;    
    } 

    .ProductCard__Icon{
        width: 2.36rem;
    }

    .ProductCard__PointsNeeded{
        font-size: 0.82rem;
        padding: .65rem .86rem;
    }

    .ProductCard__Coin{
        width: 1.13rem;
    }

    .ProductCard__Info{
        border-top: 1px solid rgba(217, 217, 217, 1);
    }

    .ProductCard__Name{
        color: var(--dark-font-color);
        font-size: 1.05rem;
    }
    
    .ProductCard__Category{
        color: var(--medium-font-color);
        font-size: 0.93rem;
    }
}

@media screen and (min-width: 1200px){
    .ProductCard{
        padding: 0.75rem;    
    } 

    .ProductCard__Icon{
        width: 2.63rem;
    }

    .ProductCard__PointsNeeded{
        font-size: 0.87rem;
        padding: .75rem 1rem;
    }

    .ProductCard__Coin{
        width: 1.25rem;
    }

    .ProductCard__Name{
        color: var(--dark-font-color);
        font-size: 1.12rem;
    }
    
    .ProductCard__Category{
        color: var(--medium-font-color);
        font-size: 1rem;
    }
} 