.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 3rem;
    padding: .875rem 1rem;
    transition: height .5s ease;
}

.Header__Logo{
    width: 1.25rem;
    transition: width .5s ease;
}

.Header__BannerImage{
    display: flex;
    position: relative;
    background: url('../../assets/images/header-banner.png');
    background-size: 100% 100%;
    height: 33.33vw;
    background-repeat: no-repeat;
    align-items: flex-end;
    margin-bottom: -.5rem;
    z-index: -2;
}

.Banner-Mask {
    clip-path: polygon(0 0, 100% 0, 100% 85.35%, 0 85.35%);
    transition: clip-path .4s linear;
}

.Header__BannerText{
  position: absolute;
  bottom: 22%;
  left: 4.68%;
  font-weight: 700;
  color: var(--light-font-color);
  font-size: .875rem;
  transition: all .5s ease;
}

/* Media queries */
@media screen and (min-width: 600px){
    .Header {
      height: 3.25rem;
      padding: .98rem 1.4rem;
    }

    .Header__Logo{
      width: 1.75rem;
    }
    
    .Header__BannerText{
      bottom: 22.49%;
      left: 5.8%;
      font-size: 1.65rem;
    }  
}

  @media screen and (min-width: 800px){
    .Header{
      height: 3.5rem;
      padding: 1.08rem 1.8rem;
    }

    .Header__Logo{
      width: 2rem;
    }

    .Header__BannerText{
      bottom: 22.98%;
      left: 6.92%;
      font-size: 2.43rem;
    }  

  }

  @media screen and (min-width: 1000px){
    .Header{
      height: 4rem;
      padding: 1.18rem 2.2rem;
    }

    .Header__Logo{
      width: 2.25rem;
    }

    .Header__BannerText{
      bottom:23.47%;
      left: 8.04%;
      font-size: 3.21rem;
    }  
  }

  @media screen and (min-width: 1200px){
    .Header{
      height: 5rem;
      padding: 1.375rem 2.63rem;
    }

    .Header__Logo{
      width: 2.42rem;
    }

    .Header__BannerText{
      bottom: 23.96%;
      left: 9.17%;
      font-size: 4rem;
    }
  }