.ResultsGrid{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 1rem;
  margin: 1.1rem 0 1.48rem;
  justify-items: center; 
}

@media screen and (min-width: 480px){
    .ResultsGrid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 600px){
    .ResultsGrid{
        margin: 1.48rem 0 2.05rem;
        gap: 1.125rem;
    }
}

@media screen and (min-width: 800px){
    .ResultsGrid{
        margin: 1.86rem 0 2.62rem;
        gap: 1.25rem;
    }
}

@media screen and (min-width: 1000px){
    .ResultsGrid{
        margin: 2.24rem 0 3.19rem;
        gap: 1.375rem;
    }
}

@media screen and (min-width: 1200px){
    .ResultsGrid{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.42rem;
    }
}

@media screen and (min-width: 1400px){
    .ResultsGrid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 2.63rem 0 3.75rem;
        gap: 1.5rem;
    }
}


.ProductCard{
    background-color: rgba(211, 211, 211, 0.3);
    height: 8.5rem;
    width: 8.5rem;    
}

@media screen and (min-width: 480px){
    .ProductCard{
        height: 9rem;
        width: 9rem;    
    }
}


@media screen and (min-width: 600px){
    .ProductCard{
        height: 10.69rem;
        width: 10.69rem;    
    }
}

@media screen and (min-width: 800px){
    .ProductCard{
        height: 12.88rem;
        width: 12.88rem;    
    }
}

@media screen and (min-width: 1000px){
    .ProductCard{
        height: 15.07rem;
        width: 15.07rem;    
    }
}

@media screen and (min-width: 1200px){
    .ProductCard{
        height: 17.25rem;
        width: 17.25rem;    
    }
} 

@media screen and (min-width: 1400px){
    .ProductCard{
        height: 17.25rem;
        width: 17.25rem;  
    }
}