.FiltersContainer{
    display: flex;
    color: var(--medium-font-color);
    font-size: inherit;
    border-left: 1px solid var(--border-bar-color);
    padding-left: 0.38rem;;
    gap:0.38rem;
    transition: all 0.5s ease;
}

@media screen and (min-width: 600px){
    .FiltersContainer{
        padding-left: 0.66rem;;
        gap:0.66rem; 
    }       
  }
  
  @media screen and (min-width: 800px){
    .FiltersContainer{
        padding-left: 0.94rem;;
        gap:0.94rem;
    } 
  }
  
  @media screen and (min-width: 1000px){
    .FiltersContainer{
        padding-left: 1.22rem;;
        gap:1.22rem;
    }  
  }
  
  @media screen and (min-width: 1200px){
    .FiltersContainer{
        padding-left: 1.5rem;;
        gap:1.5rem;
    }     
  }